body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.836), rgb(0, 0, 0)), url(imagens/fundo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0px;
  width: 100%;
}

.padraotextos {
  font-family: 'Press Start 2P', arial;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  color: #b4b4b4;
  padding: 40px;
  font-size: 15px;
}

.header {
  padding: 0px;
  text-align: center;
}

.header img {

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav {
  font-family: 'Press Start 2P', arial;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(121, 121, 121);
  font-size: 13px;
  color: #333;

  margin: auto;
  overflow: hidden;
  background-color: #000000;
  align-items: center;
  padding: 0px;
}


.topnav a {
  float: left;
  display: block;
  color: #b9b9b9;
  padding: 26px 30px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.complemento {
  font-family: 'Press Start 2P', arial;
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(0, 0, 0);
  color: #dddddd;
  font-size: 15px;
  padding: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0));
}

.footer {
  font-family: 'Press Start 2P', arial;
  text-align: justify;
  color: rgb(255, 255, 255);
  font-size: 9px;
  padding: 5px;
  text-align: center;
  background: #000000;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', arial;
  color: #f7f7f7;
  text-shadow: 3px 3px 5px rgb(78, 78, 78);

}

body {
  padding: 14px;
}

.form-container {
  background-color: #000000;
  padding: 14px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 15px;

}

input[type="text"],
input[type="email"],
select,
textarea {
  color: #b4b4b4;
  background-color: #0e0e0e;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

button {
  background-color: #1d0024;
  color: rgb(255, 255, 255);
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #1d0024;
}



#tabela td,
#tabela th {
  border: 2px solid #00000060;
  padding: 9px;
}

#tabela {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 67%;
}

#tabela thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1d0024;
  color: rgb(40, 12, 56);
}

#tabela tbody>tr {
  background-color: #000000af;
}

#tabela tbody>tr:hover {
  background-color: #1d00247a;
}

.formatacaoimagens1 img {
  vertical-align: middle;
  margin-left: 10px;
  width: 70px;
  height: 80px;
}

.formatacaoimagens2 img {
  float: left;
  width: 400px;
  height: 200px;
  margin-right: 10px;
}

.formatacaoimagens3 img {
  width: 100px;
  height: 70px;
}

.formatacaoimagens4 img {
  margin-right: 5px;
  width: 400px;
  height: 300px;
}

.formatacaoimagens5 img {
  width: 1110px;
  height: 500px;
}

.tabela {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 10px;
}

.formatacaoimagens6 img {
  vertical-align: middle;
  margin-left: 10px;
  width: 35px;
  height: 45px;
}

.formatacaoimagens7 img {
  vertical-align: middle;
  margin-left: 10px;
  width: 45px;
  height: 40px;
}

.formatacaoLogo img {
  vertical-align: middle;
  width: 50%;
  height: 190px;

}

.formatacaoRodape img {
  vertical-align: middle;
  width: 100%;
  height: 300px;
}

.barracatalogo {
  float: right;
}

.formatacaoskins img {
  width: 370px;
  height: 320px;
  margin-left: 15px;
  margin-top: 10px;
}

.formatacaoMM01 img {
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.formatacaoMM02 img {
  vertical-align: middle;
  width: 49%;
  height: 440px;
  margin-left: 10px;
}

.formatacaoMM03 img {
  float: right;
  width: 500px;
  height: 300px;
  margin-left: 10px;
}

.formatacaoMM04 img {
  vertical-align: middle;
  width: 80px;
  height: 60px;
  margin-left: 10px;
}

.formatacaoMM05 img {
  float: left;
  width: 550px;
  height: 350px;
  margin-right: 10px;
}

.formatacaoMM06 img {
  margin-right: 15px;
  width: 400px;
  height: 300px;
}

.formatacaoH01 img {
  float: right;
  width: 45%;
  height: 450px;
  margin-left: 10px;
}

.formatacaoH02 img {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.formatacaoH03 img {
  width: 30%;
  height: 400px;
}

.formatacaoH04 img {
  width: 330px;
  height: 660px;
  float: left;
  vertical-align: middle;
  margin-right: 10px;
}

.formatacaoFonteContato {
  font-size: 11px;
}

.receptorform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  box-sizing: border-box;
}

#mensagem {
  font-size: 1rem;
  margin-bottom: 30px;
}

.receptorformImagem img {
  max-width: 70%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

@media (min-width: 768px) {
  .padraotextos h1 {
    font-size: 2.5rem;
  }

  #mensagem {
    font-size: 1.2rem;
  }

}

.center {
  text-align: center;
}